body {
    background-color: #571845 !important;

}

.container-color {
    background-color: #acbeed;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.navicon {
    margin-top: 8px;
    margin-right: 25px;
}

.nav-color {
    color: white !important;
}

.nav-back-color {
    background-color: rgba(46, 46, 46, 0.588) !important;
}

.navtab-back-color {
    background-color: rgba(31, 31, 31, 0.588) !important;
}

.nav-trans:hover {
    background-color: rgba(174, 201, 224, 0.548) !important;
    color: rgb(25, 24, 24) !important;
}
.slid-r{
    margin-top: -7rem;
    flex-wrap: nowrap;
}

.btn-slid{
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 1rem 1rem 0rem 0rem;
    cursor: pointer;
    margin-left: 1px;
    margin-right: 1px;
}
.btn-slid:hover{
    padding-top: 15px;
    margin-top: -55px;
    border-radius: 2rem 2rem 0rem 0rem;
}
.bold{
    font-weight: bold;
}
.cp{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.ft {
    font-family: Impact;
  }