body {
    background-color: #ffffff !important;

}

.container-color {
    background-color: #acbeed;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.navicon {
    margin-top: 8px;
    margin-right: 25px;
}

.nav-color {
    color: white !important;
}

.nav-back-color {
    background-color: rgba(46, 46, 46, 0.588) !important;
}

.navtab-back-color {
    background-color: rgba(31, 31, 31, 0.588) !important;
}

.nav-trans:hover {
    background-color: rgba(249, 249, 151, 0.377) !important;
    color: rgb(51, 183, 195) !important;
}
.slid-r{
    margin-left: -1px !important;
    margin-right: -1px !important;
    margin-top: -7rem;
    flex-wrap: nowrap;
}

.btn-slid{
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 1rem 1rem 0rem 0rem;
    cursor: pointer;
    margin-left: 1px;
    margin-right: 1px;
}
.btn-slid:hover{
    margin-top: -45px;
    border-radius: 2rem 2rem 0rem 0rem;
}
.bold{
    font-weight: bold;
}
.cp{

}
.ft{
    font-family: Impact;
}