@media screen and (max-width: 750px) {
    .slid-r{
        margin-top: -4rem;
    }
    
    .btn-slid{
        font-size: 1rem;
    }
    .btn-slid:hover{
        margin-top: -15px;
    }
  }
  @media screen and (max-width: 350px) {
    .slid-r{
        margin-top: -2.5rem;
    }
    
    .btn-slid{
        font-size: 0.5rem;
    }
    .btn-slid:hover{
        margin-top: -5px;
    }
  }