@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
    .box {
        height: 200px;
    }
    .img-information {
        width: 8% !important;
    }
}
@media (max-width: 1000px) and (min-width: 450px) {
    .notification{
        text-align: center;
        margin-top:0%;
        margin-bottom: 0%;
    }
    .icon-shop{
        margin-top: 0% !important;
    }
    .nav-item{
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        background-color: rgba(124, 124, 124, 0.067);
        color: white;
        text-decoration: none;
        padding: 15px 26px;
        position: relative;
        display: inline-block;
        border-radius: 2px;
        border-radius: 1rem;
    }
    .box {
        text-align: center;
        height: 180px;
    }
    .img-information {
        width: 6% !important;
        margin-top: -10px;
    }
    .navbar-collapse {
        max-height: 280px;
        overflow-y: auto;
      }
}
@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}
@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
}