.card-comment .row > *{
    width: unset !important;
}
a{
	text-decoration: none !important;
	color: inherit;
}

a:hover {
	color: #455A64;
}

.card {
    background-color: #363E4A !important;
	border-radius: 5px;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.card p{
    color: rgb(194, 187, 187);
	font-size: 12px !important;
}
.card h3{
    color: rgb(202, 202, 202);
}
.note{
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
}
.card td{
    color: rgb(201, 202, 201);
}

.rating-box {
	width: 130px;
	height: 130px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FBC02D;
	color: rgb(255, 255, 255);
}

.rating-label {
	font-weight: bold;
}

/* Rating bar width */
.rating-bar {
	width: 300px;
	padding: 8px;
	border-radius: 5px;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Individual bars */
.bar-5 {
	width: 70%;
	height: 13px;
	background-color: #FBC02D; 
	border-radius: 20px;

}
.bar-4 {
	width: 30%;
	height: 13px;
	background-color: #FBC02D; 
	border-radius: 20px;

}
.bar-3 {
	width: 20%;
	height: 13px;
	background-color: #FBC02D; 
	border-radius: 20px;

}
.bar-2 {
	width: 10%;
	height: 13px;
	background-color: #FBC02D; 
	border-radius: 20px;

}
.bar-1 {
	width: 0%;
	height: 13px;
	background-color: #FBC02D; 
	border-radius: 20px;

}

td {
	padding-bottom: 10px;
}

.star-active {
	color: #FBC02D;
	margin-top: 10px;
	margin-bottom: 10px;
}

.star-active:hover {
	color: #F9A825;
	cursor: pointer;
}

.star-inactive {
	color: #CFD8DC;
	margin-top: 10px;
	margin-bottom: 10px;
}

.blue-text {
	color: #0091EA;
}

.content {
	font-size: 18px;
}

.profile-pic {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	margin-right: 30px;
}
 
.pic {
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.vote {
	cursor: pointer;
}