.code{
    color: hsl(0, 0%, 38.8%) !important;
}
#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#4f83d6, #ed99ed);
    overflow: hidden;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#4f83d6, #ed99ed);
    overflow: hidden;
}
#radius-shape-3 {
    border-radius: 148% 152% 133% 127% / 170% 133% 167% 110%;
    bottom: -160px;
    right: -10px;
    width: 300px;
    left: -819px;
top: 131px;
    height: 300px;
    background: radial-gradient(#4f83d6, #ed99ed);
    overflow: hidden;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.form-check-input-no-absolute{
    position: unset;
    margin-right: 10px;
}

.reset-space{
    margin-top: 6% !important;
}

.italic{
    font-style: italic;
}