@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}
.ms-3{
    margin-left: 10px;
}
.space{
    margin-top: 4% !important;
    margin-bottom: 20% !important;
}
.icon-arrow{
    margin-right: 10px;
}
.code{
    background-color: #363e4a !important;
    color: #63686F !important;
}
.payment-background{
    background-color: #7d92a8 !important;
}
.reduction-code{
    margin-top: 2%;
    margin-bottom: 2%;
}
.bin:hover{
    color: red !important;
}