label {

  font-family: 'Heebo', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.115rem;
  font-style: normal;
  text-transform: capitalize;
  color: #FFFFFF;
  background-color: #EF2D56;
  border-radius: 0.15rem;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  padding: 0.3rem 0.4rem;
  border-style: none;
  border-width: 0rem;
  border-color: #EF2D56;
  -webkit-box-shadow: -0.25px 0.75px 9px -0.25px rgba(85,85,85,0.36);
  -moz-box-shadow: -0.25px 0.75px 9px -0.25px rgba(85,85,85,0.36);
  -box-shadow: -0.25px 0.75px 9px -0.25px rgba(85,85,85,0.36);
  margin-left: 5px;
  margin-right: 5px;
  }

body{
  margin-top: 5px !important;
}